BeautifulSoup==3.2.1
Django==1.7
Twisted==14.0.2
argparse==1.2.1
autobahn==0.9.3-3
avro==1.7.7
cffi==0.8.6
characteristic==14.1.0
configobj==5.0.6
cryptography==0.6.1
django-piston==0.2.3
httplib2==0.9
numpy==1.9.0
pandas==0.15.1
ply==3.4
psycopg2==2.5.4
pyOpenSSL==0.14
pyasn1==0.1.7
pyasn1-modules==0.0.5
pycparser==2.10
pycurl==7.19.5
python-dateutil==2.2
pytz==2014.9
requests==2.4.3
scipy==0.14.0
service-identity==14.0.0
six==1.8.0
wsgiref==0.1.2
zope.interface==4.1.1
